@import 'assets/colors.scss';

.dismiss {
  padding: 8px;
  height: 32px;
  border: none;
  background: none;
  cursor: pointer;

  svg {
    width: 16px;
    height: 16px;
    fill: $dismissalButtonColor;
  }
}
