@use 'assets/size-small.scss' as small;
@use 'assets/size-medium.scss' as medium;
@use 'assets/size-large.scss' as large;

@import 'assets/colors.scss';
@import 'assets/reset-styles.scss';

.dismiss {
  @include reset-styles;

  flex-shrink: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 1;

  :global(.small) & {
    align-self: center;
    width: small.$dismissalButtonSize;
    height: small.$dismissalButtonSize;
  }

  :global(.medium) & {
    align-self: flex-end;
    width: medium.$dismissalButtonSize;
    height: medium.$dismissalButtonSize;
  }

  :global(.large) & {
    align-self: flex-end;
    width: large.$dismissalButtonSize;
    height: large.$dismissalButtonSize;
  }

  svg {
    fill: $dismissalButtonColor;
  }
}
