.idea/
.vscode/
*.log
*.DS_Store

node_modules/
coverage/

layout/dist/

sdk/dist/types/
sdk/dist/smart-banner-sdk.d.ts
sdk/dist/adjust-smart-banner.min.js.*
sdk/README.md
sdk/CHANGELOG.md
sdk/LICENSE
