@import '../assets/constants.scss';

.banner-placeholder {
  height: 76px;

  @media (min-width: $bannerMaxWidth) {
    & {
      height: 0;
    }
  }
}

.banner {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10000000;
  pointer-events: none;

  &.stickyToTop {
    top: 0;
  }

  &.stickyToBottom {
    bottom: 0;
  }
}
