@import '../../assets/constants.scss';

.action {
  color: $buttonColor;
  background: rgb(249, 250, 252);
  border: 1px solid rgb(205, 208, 224);
  border-radius: 4px;
  border-color: $buttonColor;
  box-shadow: inset 0px -1px 0px 0px $shadowColor;
  padding: 4px 6.5px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: $fontsFamily;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
  text-decoration: none;
}
