@import 'assets/colors.scss';
@import 'assets/fonts.scss';

@import 'assets/reset-styles.scss';

.action {
  @include reset-styles;

  color: $ctaColor;
  background: $ctaBackgroundColor;
  border: 1px solid rgba(205, 208, 224, 0.3);
  border-radius: 6px;
  box-shadow: inset 0px -1px 1px 0px rgba(205, 208, 224, 0.3);
  padding-inline: 12px;
  padding-block: 8px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: $fontsFamily;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  :global(.small) & {
    max-width: 115px;
    flex-shrink: 0;
  }

  :global(.medium) & {
    align-self: stretch;
    padding-inline: 16px;
    padding-block: 8px;
  }

  :global(.large) & {
    align-self: stretch;
    padding-inline: 16px;
    padding-block: 12px;
    font-size: 16px;
    line-height: 20px;
  }
}
