@import 'assets/colors.scss';

.content {
  &.fixed-header {
    padding-top: 58px;
  }
}

.smart-banner-parent {
  position: relative;
  padding: 8px;
  margin: 24px 16px;
  background-color: $blue-200;
  border-radius: 12px;
}
