@import '../../assets/constants.scss';

@function encodeColor($colour) {
  @return "%23"+str-slice("#{$colour}", 2, -1);
}

.dismiss {
  width: 32px;
  height: 32px;
  border: none;
  background: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 16 16'>\
<path d='M1 0 L0 1 L15 16 L16 15 L1 0' fill='#{encodeColor($buttonColor)}'/>\
<path d='M16 1 L16 1 L1 16 L0 15 L15 0' fill='#{encodeColor($buttonColor)}'/>\
</svg>");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 8px 8px, auto;
  cursor: pointer;
}
