$fontsFamily: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;

$dismissButtonColor: #6E7492;
$titleColor: #191D2F;
$descriptionColor: #565C78;
$ctaColor: #191D2F;
$ctaBackgroundColor: #F4F6F9;
$bannerBackgroundColor: #FFF;
$iconPlaceholderColor: #6E7492;
$iconPlaceholderBackgroundColor: #E0E2EC;

$bannerHeight: 80px;
$bannerMaxWidth: 428px;
