@import 'assets/fonts.scss';

@mixin reset-styles($backgroundColor: transparent) {
  min-width: auto;
  min-height: auto;
  padding: 0;
  margin: 0;
  background-color: $backgroundColor;
  font-family: $fontsFamily;
  font-size: 16px;
  line-height: normal;
}
