$bannerMaxWidth: 428px;
$bannerHeight: 80px;

$bannerHorizontalPadding: 8px;
$bannerVerticalPadding: 12px;

$dismissalButtonSize: 16px;

$headerFontSize: 14px;
$headerLineHeight: 20px;

$descriptionFontSize: 12px;
$descriptionLineHeight: 14px;

$iconSize: 56px;
