$bannerMaxWidth: 100%;
$bannerHeight: 100%;

$bannerHorizontalPadding: 32px;
$bannerVerticalPadding: 32px;

$dismissalButtonSize: 24px;

$headerFontSize: 16px;
$headerLineHeight: 20px;

$descriptionFontSize: 14px;
$descriptionLineHeight: 20px;

$iconSize: 64px;
