$bannerMaxWidth: 428px;
$bannerHeight: 280px;

$bannerHorizontalPadding: 20px;
$bannerVerticalPadding: 20px;

$dismissalButtonSize: 24px;

$headerFontSize: 16px;
$headerLineHeight: 20px;

$descriptionFontSize: 14px;
$descriptionLineHeight: 20px;

$iconSize: 56px;
