@use 'assets/size-small.scss' as small;
@use 'assets/size-medium.scss' as medium;
@use 'assets/size-large.scss' as large;

.banner-placeholder {
  height: small.$bannerHeight;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.banner {
  pointer-events: none;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  &:global(.small) {
    height: small.$bannerHeight;
  }

  &:global(.medium) {
    height: medium.$bannerHeight;
  }

  &:global(.large) {
    height: large.$bannerHeight;
  }

  &.custom-parent {
    z-index: initial;
    position: absolute;
  }

  &.stickyToTop {
    top: 0;
  }

  &.stickyToBottom {
    bottom: 0;
  }
}
