@import '../assets/constants.scss';

.banner-placeholder {
  height: 76px;
}

.banner {
  height: 76px;
  pointer-events: none;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;

  &.custom-parent {
    z-index: unset;
    position: relative;
  }

  &.stickyToTop {
    top: 0;
  }

  &.stickyToBottom {
    bottom: 0;
  }
}
