@use 'assets/colors.scss' as *;

.main-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 0;
  z-index: 2;
  left: 0;
  color: white;
  line-height: 42px;
  text-align: center;
  background-color: $blue-600;
  overflow-x: hidden;
  transition: width 0.5s;
  display: flex;
  flex-direction: column;

  &.opened {
    width: 250px;
  }

  .menu-header {
    height: 58px;
    background-color: $blue-400;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>* {
      margin-left: 24px;
    }
  }

  .menu-item {
    line-height: 40px;
    white-space: nowrap;
    border-bottom: rgba(255, 255, 255, 0.6) solid 1px;
    transition: border 0.1s;

    &:hover {
      border-bottom: rgba(255, 255, 255, 0.9) solid 1px;
    }
  }
}

.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
