@import 'assets/colors.scss';

.button {
  padding: 6px 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: all .3s ease-in-out;

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &.primary {
    fill: white; // for svg icons
    color: white; // for text

    &:hover {
      fill: $blue-600;
      color: $blue-600;
    }
  }

  &.secondary {
    fill: white;
    color: white;

    &:hover {
      fill: white;
      color: white;
    }
  }
}
