$blue-600: rgb(0, 24, 71);
$blue-500: rgb(0, 42, 158);
$blue-400: rgb(0, 95, 247);
$blue-300: rgb(119, 177, 247);
$blue-200: rgb(183, 216, 249);
$blue-100: rgb(217, 236, 250);
$blue-50: rgb(242, 247, 255);
