@import './colors.scss';

@font-face {
  font-family: 'TTNormsProAdjust';
  src: url('TT Norms Pro Adjust Normal.otf') format("opentype");
}

body,
body * {
  margin: 0;
  font-family: 'TTNormsProAdjust',
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

body {
  background-color: $blue-100;
}

:global {
  .flex-column {
    display: flex;
    flex-direction: column
  }

  .flex-row {
    display: flex;
    align-items: flex-end;
  }

  .flex-one {
    flex: 1;
  }

  .flex-two {
    flex: 2;
  }

  .hidden {
    display: none;
  }

  .input-field {
    border-radius: 6px;
    border-style: solid;
    border-color: $blue-500;
    border-width: 1.2px;
    color: $blue-500;
    padding: 2px 4px;
    min-width: 80px;
    box-sizing: border-box;
    align-self: flex-end;
  }

  input.input-field[type="text"] {
    padding: 3px 4px;
  }
}
