@import '../../assets/constants.scss';

.banner-body {
  margin: 0 auto;
  max-width: $bannerMaxWidth;
  background: $bannerBackgroundColor;
  pointer-events: auto;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .container {
    display: flex;
    align-items: center;
    padding: 12px 8px 12px 0;

    .text-container {
      flex: 1 1 0%;
      min-height: 0;
      min-width: 0;
      margin: 0 12px;
    }

    .banner-text {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    h4 {
      margin: 0 0 4px 0;
      color: $titleColor;
      font-family: $fontsFamily;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      white-space: nowrap;
    }

    p {
      color: $descriptionColor;
      font-family: $fontsFamily;
      font-size: 12px;
      line-height: 16px;
      max-height: 32px;

      // See https://css-tricks.com/line-clampin/
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
