@use 'assets/size-small.scss' as small;
@use 'assets/size-medium.scss' as medium;
@use 'assets/size-large.scss' as large;

@import 'assets/colors.scss';
@import 'assets/fonts.scss';
@import 'assets/reset-styles.scss';

.banner-body {
  @include reset-styles;

  display: flex;
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  background: $bannerBackgroundColor;
  pointer-events: auto;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  :global(.small) & {
    flex-direction: row;
    max-width: small.$bannerMaxWidth;
    padding-block: small.$bannerVerticalPadding;
    padding-inline: small.$bannerHorizontalPadding;
    gap: 8px;
  }

  :global(.medium) & {
    flex-direction: column;
    max-width: medium.$bannerMaxWidth;
    padding-block: medium.$bannerVerticalPadding;
    padding-inline: medium.$bannerHorizontalPadding;
  }

  :global(.large) & {
    flex-direction: column;
    max-width: large.$bannerMaxWidth;
    padding-block: large.$bannerVerticalPadding;
    padding-inline: large.$bannerHorizontalPadding;
  }

  .container {
    @include reset-styles;

    display: flex;
    flex: 1;
    height: 100%;
    overflow: hidden;

    :global(.small) & {
      flex-direction: row;
      align-items: center;
      gap: 12px;
    }

    :global(.medium) &,
    :global(.large) & {
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }

    :global(.medium) & {
      gap: 20px;
      margin-block-start: - medium.$dismissalButtonSize;
    }

    :global(.large) & {
      gap: 24px;
      margin-block-start: - large.$dismissalButtonSize;
    }

    .text-container {
      @include reset-styles;

      flex: 0 1 auto;
      min-height: 0;
      min-width: 0;

      :global(.small) & {
        flex: 1 1 auto;
      }
    }
  }
}
