@import '../../assets/constants.scss';

.app-icon {
  min-width: 56px;
  width: 56px;
  height: 56px;
  overflow: hidden;
  border-radius: 8px;

  & .placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $iconPlaceholderColor;
    font-weight: bold;
    font-size: 23px;
    font-family: $fontsFamily;
    line-height: 32px;
    background-color: $iconPlaceholderBackgroundColor;
  }

  & .image {
    width: 100%;
  }
}
